<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://phonegap.com/ns/1.0"
    id        = "com.fashilook.fashilookMobile"
    versionCode="10"
    version   = "1.0.0">

  <!-- versionCode is optional and Android only -->

  <name>FashiLook</name>
  <description>FashiLook Mobile Application</description>
  <author href="http://www.skyname.net" email="info@skyname.net">Sky Online</author>
  <preference name="orientation" value="portrait" />
  <gap:splash src="splash.png" />
  <preference name="fullscreen" value="true" />
  <icon src="icon.png" />
  <access origin="*" />
  <feature name="http://api.phonegap.com/1.0/network"/>
  <feature name="http://api.phonegap.com/1.0/file"/>
  <feature name="http://api.phonegap.com/1.0/media"/>
  <feature name="http://api.phonegap.com/1.0/camera"/>
  
</widget>